.App {
  background-color: gainsboro;
  height: 100vmin;
  width: 100vmin;
  margin-left: auto;
  margin-right: auto;
}

.inputForm {
  margin-left: 12px;
}

.title {
  margin-left: 12px;
}
.App-header {
  margin-left: 12px;
  font-size: 30px;

}

.App-button {
  margin: 12px;
}

.CurrentItems {
  display: inline;
  list-style: none;
}

.CurrentItem {
  float: left;
  margin-left: 12px;
}
.ToDoCompleteList {
  margin: 12px;
  border-radius: 4px;
  width: 300px;
  padding-left: 350px;
}
.Congrats {
  background-color: white;
  height: 100vmin;
  width: 100vmin;
  align-self: center;
  font-size: 30px;
  position: absolute;
  top: 0px;
  left: auto;
  text-align: center;
  line-height: 100vmin;
}

.button {
  margin-left: 4px;
}

input[type="text"]:focus {
  border: 1px solid blue;
  outline: 0;
}